In [2]:
#http://www.football-data.co.uk/englandm.php
#https://www.football-data.co.uk/notes.txt
#cambiar fecha en excel aplicando Texto

In [6]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv('premier_2017.csv')

In [14]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,...,10,3,9,12,9,4,0,1,0,0
1,E0,12/08/2017,Brighton,Man City,0,2,A,0,0,D,...,2,4,6,9,3,10,0,2,0,0
2,E0,12/08/2017,Chelsea,Burnley,2,3,A,0,3,A,...,6,5,16,11,8,5,3,3,2,0
3,E0,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,4,6,7,19,12,9,1,3,0,0
4,E0,12/08/2017,Everton,Stoke,1,0,H,1,0,H,...,4,1,13,10,6,7,1,1,0,0

In [15]:
#quito varibles que de entrada no me sirven
df.drop(['Div','Referee'],axis=1,inplace=True)

In [16]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,27,...,10,3,9,12,9,4,0,1,0,0
1,12/08/2017,Brighton,Man City,0,2,A,0,0,D,6,...,2,4,6,9,3,10,0,2,0,0
2,12/08/2017,Chelsea,Burnley,2,3,A,0,3,A,19,...,6,5,16,11,8,5,3,3,2,0
3,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,A,14,...,4,6,7,19,12,9,1,3,0,0
4,12/08/2017,Everton,Stoke,1,0,H,1,0,H,9,...,4,1,13,10,6,7,1,1,0,0

In [17]:
#resultado H:Local D:Empate A:Visitante
#renombrado columnas y poniendo resultado bien
df.columns=["Fecha","Local", "Visitante", "Goles_L","Goles_V","Resultado","Goles_Mitad_L","Goles_Mitad_V",
                   "Resultado_Mitad","Tiros_L","Tiros_V","Tiros_Buenos_L","Tiros_Buenos_V","Faltas_L","Faltas_V",
                  "Corners_L","Corners_V","Amarillas_L","Amarillas_V","Rojas_L","Rojas_V"]
df[['Resultado','Resultado_Mitad']]=df[['Resultado','Resultado_Mitad']].replace({"A": 'V', "D": 'E',"H":'L'})

In [18]:
df.head()

,Fecha,Local,Visitante,Goles_L,Goles_V,Resultado,Goles_Mitad_L,Goles_Mitad_V,Resultado_Mitad,Tiros_L,...,Tiros_Buenos_L,Tiros_Buenos_V,Faltas_L,Faltas_V,Corners_L,Corners_V,Amarillas_L,Amarillas_V,Rojas_L,Rojas_V
0,11/08/2017,Arsenal,Leicester,4,3,L,2,2,E,27,...,10,3,9,12,9,4,0,1,0,0
1,12/08/2017,Brighton,Man City,0,2,V,0,0,E,6,...,2,4,6,9,3,10,0,2,0,0
2,12/08/2017,Chelsea,Burnley,2,3,V,0,3,V,19,...,6,5,16,11,8,5,3,3,2,0
3,12/08/2017,Crystal Palace,Huddersfield,0,3,V,0,2,V,14,...,4,6,7,19,12,9,1,3,0,0
4,12/08/2017,Everton,Stoke,1,0,L,1,0,L,9,...,4,1,13,10,6,7,1,1,0,0

In [19]:
df.drop(['Goles_Mitad_L','Goles_Mitad_V','Resultado_Mitad'],axis=1,inplace=True)
df.head()

,Fecha,Local,Visitante,Goles_L,Goles_V,Resultado,Tiros_L,Tiros_V,Tiros_Buenos_L,Tiros_Buenos_V,Faltas_L,Faltas_V,Corners_L,Corners_V,Amarillas_L,Amarillas_V,Rojas_L,Rojas_V
0,11/08/2017,Arsenal,Leicester,4,3,L,27,6,10,3,9,12,9,4,0,1,0,0
1,12/08/2017,Brighton,Man City,0,2,V,6,14,2,4,6,9,3,10,0,2,0,0
2,12/08/2017,Chelsea,Burnley,2,3,V,19,10,6,5,16,11,8,5,3,3,2,0
3,12/08/2017,Crystal Palace,Huddersfield,0,3,V,14,8,4,6,7,19,12,9,1,3,0,0
4,12/08/2017,Everton,Stoke,1,0,L,9,9,4,1,13,10,6,7,1,1,0,0

In [20]:
#caso locales
variables=['Local','Fecha']+[i for i in df.columns if i.endswith('_L')]+[x for x in df.columns if x.endswith('_V')]+['Resultado']
df_final=pd.DataFrame()
df_final=df[variables]
df_final.columns=['Equipo','Fecha','Goles_0','Tiros_0','Tiros_Acertados_0','Faltas_0','Corners_0','Amarillas_0','Rojas_0',
                 'Goles_1','Tiros_1','Tiros_Acertados_1','Faltas_1','Corners_1','Amarillas_1','Rojas_1',
                 'Resultado']
df_final['Posicion']='L'
df_final.head()

,Equipo,Fecha,Goles_0,Tiros_0,Tiros_Acertados_0,Faltas_0,Corners_0,Amarillas_0,Rojas_0,Goles_1,Tiros_1,Tiros_Acertados_1,Faltas_1,Corners_1,Amarillas_1,Rojas_1,Resultado,Posicion
0,Arsenal,11/08/2017,4,27,10,9,9,0,0,3,6,3,12,4,1,0,L,L
1,Brighton,12/08/2017,0,6,2,6,3,0,0,2,14,4,9,10,2,0,V,L
2,Chelsea,12/08/2017,2,19,6,16,8,3,2,3,10,5,11,5,3,0,V,L
3,Crystal Palace,12/08/2017,0,14,4,7,12,1,0,3,8,6,19,9,3,0,V,L
4,Everton,12/08/2017,1,9,4,13,6,1,0,0,9,1,10,7,1,0,L,L

In [21]:
#caso Visitantes
variables=['Visitante','Fecha']+[i for i in df.columns if i.endswith('_V')]+[x for x in df.columns if x.endswith('_L')]+['Resultado']
df_final_2=pd.DataFrame()
df_final_2=df[variables]
df_final_2.columns=['Equipo','Fecha','Goles_0','Tiros_0','Tiros_Acertados_0','Faltas_0','Corners_0','Amarillas_0','Rojas_0',
                 'Goles_1','Tiros_1','Tiros_Acertados_1','Faltas_1','Corners_1','Amarillas_1','Rojas_1',
                 'Resultado']
df_final_2['Posicion']='V'
df_final_2.head()

,Equipo,Fecha,Goles_0,Tiros_0,Tiros_Acertados_0,Faltas_0,Corners_0,Amarillas_0,Rojas_0,Goles_1,Tiros_1,Tiros_Acertados_1,Faltas_1,Corners_1,Amarillas_1,Rojas_1,Resultado,Posicion
0,Leicester,11/08/2017,3,6,3,12,4,1,0,4,27,10,9,9,0,0,L,V
1,Man City,12/08/2017,2,14,4,9,10,2,0,0,6,2,6,3,0,0,V,V
2,Burnley,12/08/2017,3,10,5,11,5,3,0,2,19,6,16,8,3,2,V,V
3,Huddersfield,12/08/2017,3,8,6,19,9,3,0,0,14,4,7,12,1,0,V,V
4,Stoke,12/08/2017,0,9,1,10,7,1,0,1,9,4,13,6,1,0,L,V

In [22]:
df_prueba=df_final.append(df_final_2)

In [23]:
#y se gano o no??
y=[]
for i in range(0,len(df_prueba.Resultado)):
    if df_prueba['Resultado'].iloc[i]==df_prueba['Posicion'].iloc[i]:
        y.append(1)
    else:
        y.append(0)
df_prueba['y']=y
df_prueba['Fecha'] = pd.to_datetime(df_prueba['Fecha'])

In [24]:
df_prueba.sort_values(['Equipo', 'Fecha'],inplace=True)

In [25]:
df_prueba[0:38]

,Equipo,Fecha,Goles_0,Tiros_0,Tiros_Acertados_0,Faltas_0,Corners_0,Amarillas_0,Rojas_0,Goles_1,Tiros_1,Tiros_Acertados_1,Faltas_1,Corners_1,Amarillas_1,Rojas_1,Resultado,Posicion,y
67,Arsenal,2017-01-10,2,25,12,7,6,0,0,0,9,1,8,5,2,0,L,L,1
140,Arsenal,2017-02-12,1,33,15,11,12,3,0,3,8,4,10,1,2,1,V,L,0
108,Arsenal,2017-05-11,1,6,3,15,5,6,0,3,9,5,15,5,1,0,L,V,0
15,Arsenal,2017-08-19,0,18,6,11,9,0,0,1,11,4,6,2,0,0,L,V,0
27,Arsenal,2017-08-27,0,8,0,9,3,4,0,4,18,10,6,4,2,0,L,V,0
30,Arsenal,2017-09-09,3,17,9,14,10,0,0,0,7,2,10,3,1,0,L,L,1
48,Arsenal,2017-09-17,0,11,2,15,1,3,0,0,13,4,11,5,1,1,E,V,0
59,Arsenal,2017-09-25,2,16,6,8,7,1,0,0,7,3,17,4,4,0,L,L,1
159,Arsenal,2017-10-12,1,11,6,10,5,2,0,1,6,3,12,4,2,0,E,V,0
76,Arsenal,2017-10-14,1,9,6,10,5,0,0,2,11,2,8,2,1,0,L,V,0
88,Arsenal,2017-10-22,5,30,14,14,7,1,0,2,8,3,14,0,1,1,V,V,1
90,Arsenal,2017-10-28,2,17,5,9,5,0,0,1,4,2,9,2,0,0,L,L,1
0,Arsenal,2017-11-08,4,27,10,9,9,0,0,3,6,3,12,4,1,0,L,L,1
110,Arsenal,2017-11-18,2,14,5,11,7,4,0,0,14,4,16,4,1,0,L,L,1
127,Arsenal,2017-11-26,1,17,2,14,5,0,0,0,8,2,8,5,2,0,V,V,1
134,Arsenal,2017-11-29,5,21,7,10,7,0,0,0,7,2,12,2,1,0,L,L,1
169,Arsenal,2017-12-13,0,22,3,9,7,0,0,0,6,0,9,1,1,0,E,V,0
170,Arsenal,2017-12-16,1,23,5,13,7,2,0,0,10,2,9,5,1,0,L,L,1
180,Arsenal,2017-12-22,3,11,4,9,7,1,0,3,14,9,11,8,0,0,E,L,0
199,Arsenal,2017-12-28,3,16,9,7,4,1,0,2,16,2,12,5,0,0,V,V,1
208,Arsenal,2017-12-31,1,14,4,9,6,3,0,1,14,3,14,5,3,0,E,V,0
279,Arsenal,2018-01-03,0,10,5,11,6,1,0,3,9,5,11,1,1,0,V,L,0
312,Arsenal,2018-01-04,3,24,11,9,6,1,0,0,8,2,13,5,2,0,L,L,1
227,Arsenal,2018-01-14,1,12,3,10,5,2,0,2,13,5,8,4,2,0,L,V,0
230,Arsenal,2018-01-20,4,16,10,6,5,0,0,1,9,5,8,10,0,0,L,L,1
241,Arsenal,2018-01-30,1,9,4,8,3,3,0,3,12,4,4,4,0,0,L,V,0
218,Arsenal,2018-03-01,2,14,6,11,10,3,0,2,19,6,11,8,2,0,E,L,0
250,Arsenal,2018-03-02,5,15,7,8,4,2,0,1,11,2,8,6,0,0,L,L,1
287,Arsenal,2018-04-03,1,15,7,12,11,3,0,2,13,6,13,6,3,0,L,V,0
332,Arsenal,2018-04-15,1,15,3,9,5,0,0,2,8,4,11,2,1,0,L,V,0
340,Arsenal,2018-04-22,4,20,8,11,8,3,0,1,11,4,9,6,2,0,L,L,1
351,Arsenal,2018-04-29,1,8,3,7,0,1,0,2,17,3,12,9,0,0,L,V,0
372,Arsenal,2018-05-13,1,9,4,7,4,0,0,0,18,3,11,7,1,0,V,V,1
361,Arsenal,2018-06-05,5,16,8,6,4,0,0,0,6,2,7,5,1,0,L,L,1
322,Arsenal,2018-08-04,3,13,7,11,8,2,1,2,15,8,7,6,1,1,L,L,1
366,Arsenal,2018-09-05,1,14,7,12,6,2,1,3,19,10,7,6,2,0,L,V,0
264,Arsenal,2018-10-02,0,6,1,9,2,1,0,1,18,6,13,10,2,0,L,V,0
297,Arsenal,2018-11-03,3,11,7,12,4,2,0,0,11,4,9,9,1,0,L,L,1

In [27]:
#me hace falta transversar los datos para que quede como variables X los datos de la jornada 1,2,3 anterior al partido, tengo que tomar desicion sobre cuales dejar por eso aun no lo hago